/* Attempted to use Golden section ratio */
body {
  line-height: 1.625em;
  padding: 27.625px;
  color: white;
  height: 100%;
  background: linear-gradient(0.25turn, #d60000, #eb3, #00d636);
  text-align: center;
}

img {
  bottom: 500px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {

label {
  line-height: 1.625em;
  font-family: 'Heebo', sans-serif;
  font-size: 1.063em;
}
#title {
  font-family: 'Oswald', sans-serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 3em;
  color: #00008B;
}
#purpose {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.2em;
  color: #00008B;
}

#firstName {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.683em;
  color: #00008B;
}

#lastName {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.683em;
  color: #00008B;
}
#email {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.683em;
  color: #00008B;
}

#phone {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.683em;
  color: #00008B;

}
#submit {
  font-size: 1.3em;
}
img {
  position: relative;
  top: 10px;
}

}

@media screen and (min-width: 768px) {
#title {
  font-family: 'Oswald', sans-serif;
  position: relative;
  font-size: 4em;
  padding-bottom: 15px;
  color: #00008B;
}
#purpose {
  font-size: 1.618em;
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  color: #00008B;
}
#firstName {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.618em;
  color: #00008B;
}
#lastName {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.618em;
  color: #00008B;
}
#email {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.618em;
  color: #00008B;
}
#phone {
  font-family: 'Playfair Display', serif;
  position: relative;
  padding-bottom: 15px;
  font-size: 1.618em;
  color: #00008B;
}
#submit {
  bottom: 300px;
  font-size: 1.618em;
  font-family: 'Playfair Display', serif;
}
img {
  position: relative;
  height: auto;
  width: auto;
  max-width: 570px;
  max-height: 570px;
  top: 15px;
}
