/* Golden section
https://www.modularscale.com/?17&px&1.618
*/
body {
  line-height: 1.618em /* 27.506px */;
  padding: 1.618em /*27.506px */;
  color: white;
  height: 100%;
  background: linear-gradient(0.25turn, #d60000, #eb3, #00d636);
  text-align: center;
}

img {
  bottom: 29.03em /* 493.513px */;
  max-width: 100%;
}

@media screen and (min-width: 300px) {

label {
  line-height: 1.618em /* 27.506px */;
  font-family: 'Heebo', Impact, "Courier New", sans-serif;
  font-size: 1em /* 17px */;
  display: block;
}
#title {
  font-family: 'Oswald', Impact, "Courier New" ,sans-serif;
  position: relative;
  padding-bottom: 0.618em /* 10.507px */;
  font-size: 4.236em /* 72.009px */;
  color: #00008B;
}
#purpose {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 1.618em /* 27.506px */;
  color: #00008B;
}
input {
    width : 90%;
  	border-radius: .5em;
  }
}
#firstName {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 1.618em /* 27.506px */;
  color: #00008B;
}

#lastName {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 1.618em /* 27.506px */;
  color: #00008B;
}
#email {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 1.618em /* 27.506px */;
  color: #00008B;
}

#phone {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 1.618em /* 27.506px */;
  color: #00008B;

}
#submit {
  font-size: 1.618em /* 27.506px */;
}
img {
  position: relative;
  top: 0.618em /* 10.507px */;
}

@media screen and (min-width: 768px) {
label {
  text-align: center;
  font-size: 1em /* 17px */;
display: block;
}
input{
  width : 90%;
	border-radius: 0.618em /* 10.507px */;
}
#title {
  font-family: 'Oswald', Impact, "Courier New", sans-serif;
  position: relative;
  font-size: 4.236em /* 72.009px */;
  padding-bottom: 1em /* 17px */;
  color: #00008B;
}
#purpose {
  font-size: 2.618em /* 44.505px */;
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  color: #00008B;
}
 input [type="text"] {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 0.618em /* 27.506px */;
  color: #00008B;
}
 input [type="email"] {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 1.618em /* 27.506px */;
  color: #00008B;
}
 input [type="number"] {
  font-family: 'Playfair Display', Impact, "Courier New", serif;
  position: relative;
  padding-bottom: 1em /* 17px */;
  font-size: 1.618em /* 27.506px */;
  color: #00008B;

}
#submit {
  bottom: 17.942em /* 305.014px */;
  font-size: 1.618em /* 27.506px */;
  font-family: 'Playfair Display', Impact, "Courier New", serif;
}
img {
position: relative;
height: auto;
width: auto;
max-width: 29.03em /* 493.513px */;
max-height: 29.03em /* 493.513px */;
top: 1em /* 17px */;
}
}
